@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #373e57;
  color: #ccc8db;
}

.container {
  background-color: #66795b;
  display: flex;
  max-width: 1600px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.left-side {
  width: 260px;
  border-right: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  background-color: #8fa781;
  overflow: auto;
  flex-shrink: 0;
}

@media screen and (max-width: 930px) {
  .left-side.active {
    z-index: 4;
  }
  .left-side.active > *:not(.logo) {
    opacity: 1;
    transition: 0.3s 0.2s;
  }
  .left-side.active .left-side-button svg:first-child {
    opacity: 0;
  }
  .left-side.active .left-side-button svg:last-child {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .left-side:not(.active) {
    width: 56px;
    overflow: hidden;
  }
  .left-side:not(.active) > *:not(.logo):not(.left-side-button) {
    opacity: 0;
  }
  .left-side:not(.active) .logo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: bottom;
    display: flex;
    align-items: center;
    margin-top: -10px;
  }
}

.right-side {
  width: 280px;
  flex-shrink: 0;
  margin-left: auto;
  overflow: auto;
  background-color: #151728;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1210px) {
  .right-side {
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s;
    height: 100%;
    transform: translateX(280px);
    z-index: 4;
  }
  .right-side.active {
    transform: translatex(0);
  }
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #181d2f;
 }

 .logo {
   font-family: "DM Sans", sans-serif;
   font-size: 15px;
   color: #fff;
   font-weight: 600;
   text-align: center;
   height: 68px;
   line-height: 68px;
   letter-spacing: 4px;
   position: sticky;
   top: 0;
 }

 .side-wrapper {
   padding: 30px;
 }

 .side-title {
   font-family: "DM Sans", sans-serif;
   color: #fff;
   font-size: 15px;
   font-weight: 600;
   margin-bottom: 20px;
 }

 .side-menu {
   display: flex;
   flex-direction: column;
   font-size: 15px;
   white-space: nowrap;
 }

 .side-menu svg {
   margin-right: 16px;
   width: 16px;
 }

 .side-menu a {
   text-decoration: none;
   color: #fff;
   display: flex;
   align-items: center;
 }

 .side-menu a:hover {
   color: #fff;
 }

 .side-menu a:not(:last-child) {
   margin-bottom: 20px;
 }

 .search-bar {
   height: 60px;
   background-color: #677a5c;
   z-index: 3;
   position: relative;
 }

 .search-bar input {
   height: 100%;
   width: 100%;
   display: block;
   background-color: transparent;
   border: none;
   padding: 0 54px;
   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3e%3cpath d='M508.9 478.7L360 330a201.6 201.6 0 0045.2-127.3C405.3 90.9 314.4 0 202.7 0S0 91 0 202.7s91 202.6 202.7 202.6c48.2 0 92.4-17 127.3-45.2L478.7 509c4.2 4.1 11 4.1 15 0l15.2-15.1c4.1-4.2 4.1-11 0-15zm-306.2-116c-88.3 0-160-71.8-160-160s71.7-160 160-160 160 71.7 160 160-71.8 160-160 160z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%235C5D71'/%3e%3c/svg%3e");
   background-repeat: no-repeat;
   background-size: 16px;
   background-position: 25px 50%;
   color: #fff;
   font-family: "Source Sans Pro", sans-serif;
   font-weight: 600;
 }

 .search-bar input::placeholder {
   color: #fff;
 }

 .main-container {
   padding: 20px;
   flex-grow: 1;
   overflow: auto;
   background-color: #24273b;
 }