<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sign Up</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="form-structor">
    <div class="signup">
        <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
        <form class="form-holder" role="form" th:action="@{/sign-up}" th:method="post" th:object="${user}">
            <input class="input" type="text" id="firstName" name="firstName" placeholder="First Name" th:field="*{firstName}">
            <input class="input" type="text" id="lastName" name="lastName" placeholder="Last Name" th:field="*{lastName}">
            <input class="input" type="username" id="username" name="username" placeholder="Username" th:field="*{username}">
            <input class="input" type="password" id="password" name="password" placeholder="Password" th:field="*{password}">
            <button class="submit-btn">Sign Up</button>
        </form>
    </div>
</div>
</body>
</html>
